nav{
    border:2px solid black;
    border-radius: 30px;
    font-size: 40px;
    background-color: rgb(18, 17, 17);
    height:40px;
}
a{
    color:white;
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    /* background-color: #81ecec; */
    background-image: linear-gradient(rgb(195, 170, 218),rgb(164, 100, 224));
    display: flex;
    flex-wrap: wrap;
}

#addBtn{
    position: fixed;
    text-align: center;
    left:50%;
    /* right: 100px; */
    top: 50px;
    background-color: #2d3436;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: rgb(164, 164, 24);
}

.note {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 15px;
    margin-top: 55px;
}

.tool {
    width: 100%;
    background-color: #2d3436;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}

.tool i {
    padding: 5px;
    cursor: pointer;
}

.note textarea {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 18px;
}

.note textarea:focus {
    border: 0;
    outline: 0;
}
#share-container span {
    display: block;
    margin: 3rem auto;
    font-size: 50px;
    padding: 1rem;
    margin: 1rem;
  }
  #share-buttons i {
    font-size: 100px;
    margin: 20px;
  }
  
